body {
    margin: 0;
    padding: 0;
    font-family:  'Noto Sans TC',  sans-serif;   
    /*background-image: url(https://assets.pjsek.ai/file/pjsekai-assets/startapp/story/background/epilogue-story/background.png);*/
    background-color: #f2f2f2; /* 背景色 */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
     -ms-text-size-adjust: none;
         text-size-adjust: none;  
}

header {
    width: 100%;
    background-color: #00cabc;
    color: #461c1c;
    padding: 10px;
    position: fixed;
    top: 0;
    font-size: 20px;
    z-index: 999;
}

nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #111038;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto 50px auto;
    max-width: 900px;
    border-radius: 10px; /* 圖片區塊的圓角 */
    overflow: hidden; /* 隱藏圓角外的部分 */
}

.gallery img {
    
    width: 128px;
    height: 128px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 圖片縮放效果 */
    border-radius: 5px; /* 圖片的圓角 */
    
}

.special{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px; /* 圖片的圓角 */
    background-size: cover;
}

.collected{
    width: 128px;
    height: 128px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 圖片縮放效果 */
    border-radius: 5px; /* 圖片的圓角 */
    filter: brightness(0.4);
}

.gallery img:hover {
    transform: scale(1.1); /* 當滑鼠移入時放大圖片 */
}
.star{
    width: 100%;
    height: 30px;
    background-image: url("btn/star4.png");
    background-position: center;
    background-repeat: no-repeat;
}
.star:hover{
    background-image: url("btn/star4_hover.png");
}
.default{
    background-image: url("btn/default.png");
    width: 100%;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.default:hover{
    background-image: url("btn/default_hover.png");
}
.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.aaa{
    width: 100%;
    margin: 10px;
}
p{
    margin: 10px;
}

footer {
    background-color: #00cabc;; /* 設定背景色 */
    color: #fff;
    padding: 20px;
    text-align: center; /* 讓文字置中 */
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.modal {
    display: none; /* 初始隱藏 modal */
    position: fixed;
    top: 10%;
    left: 10%;
    width: 70%;
    height: 70%;
    background-color: rgba(0,0,0,0.8); /* 模態視窗的背景色 */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px; /* 圖片的圓角 */
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* 圖片陰影效果 */
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
.specialCard {
    padding: 0;
    margin-right: 3px;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
input[type=checkedbox] {
    display: none;
}
input[type=checkbox]+span {
    display: inline-block;
    background-color: #ffffff;
    padding: 3px 6px;
    border: 1px solid gray;
    color: #000000;
    user-select: none; /* 防止文字被滑鼠選取反白 */
    border-radius: 1rem;
}

input[type=checkbox]:checked+span {
    color: rgb(255, 255, 255);
    background-color: #00cabc;
}

input[type=checkedbox]+span {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 3px 6px;
    border: 1px solid gray;
    background-color: #00cabc;
    user-select: none; /* 防止文字被滑鼠選取反白 */
    border-radius: 1rem;
}
.selection {
    display: flex;
}
select {
    font-size: 20px;
    font-family: 'Noto Sans TC';
    font-weight: 600;
    position: relative;
    display: inline-block;
    border-radius: 1rem;
    border-color: darkturquoise;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0 0.1rem 0 0.1rem;
}
.None {
    margin-bottom: calc(140px - 3%);
}